<header>
  <div class="wraper color_container">
      <h1>MY WEATHER</h1>
      <div class="search_container">
        <input type="text" placeholder="Minsk" [(ngModel)]="cityName"/>
        <button (click)="getWeather()" [disabled]="!cityName">
          <img src="../assets/images/search-icon.png" alt="search"/>
        </button>
      </div>
  </div>

  <div class="day_container">
    <div class="wraper">
      <button [ngClass]="{active: isWeatherActive}" (click)="showCurrentWeather()">
        Today
      </button>
      <button [ngClass]="{active: isForecastWeatherActive}" (click)="showForecastWeather()">
        5-days forecast
      </button>
    </div>
  </div>
</header>

<main>
  <div class="wraper" *ngIf="currentWeather && isWeatherActive && !isError">
    <app-data [currentTimezone]="currentTimezone"></app-data>
  </div>

  <div
    class="wraper"
    *ngIf="forecastWeather.length && isForecastActive && !isError"
  >
    <h3>WEATHER FORECAST</h3>
    <div class="forecast">
      <app-forecast-weather
        [dayForecast]="dayForecast" *ngFor="let dayForecast of weatherFiveDays"
        (click)="selectedDate = dayForecast.dt"
        [ngClass]="{ selected: selectedDate == dayForecast.dt }"
      ></app-forecast-weather>
    </div>
  </div>

  <div
    class="wraper"
    *ngIf="forecastWeather.length && selectedDate && !isError"
  >
    <h3>HOURLY</h3>
    <div class="hourly">
      <div class="params">
        <p>{{ selectedDate * 1000 | date: "dd.MM.yyyy" }}</p>
        <div class="icon"></div>
        <p>Forecast</p>
        <p>Temp</p>
        <p>Real Feel</p>
        <p>Wind Speed</p>
      </div>
      <app-hourly-weather
        [dayForecast]="dayForecast"
        *ngFor="
          let dayForecast of getsWeatherIntoThreeHour(forecastWeatherTimezoned, selectedDate)
        "
      ></app-hourly-weather>
    </div>
  </div>

  <div class="container error-container" *ngIf="isError">
    <app-error-weather></app-error-weather>
  </div>
</main>
  

      
  

   