.wraper {
    margin: auto;
    width: 100%;
    max-width: auto;
    
  }

.color_container {
    background-color: rgba(176, 224, 230);
}

  header .wraper {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    h1 {
      color: rgb(22, 26, 26);
      font-weight: bold;
      line-height: calc(20px + 12 * (100vw / 1000));
      font-size: calc(20px + 12 * (100vw / 1000));
    }

    .search_container {
      height: 35px;
      display: flex;
      align-items: center;
    }

    input {
      height: 80%;
    }

    button {
      height: 100%;
      padding: 5px;
      img {
        height: 100%;
        width: auto;
      }
    }
  }


  header .day_container {
    background-color: black;
    .wraper {
      justify-content: flex-start;
      button {
        background-color: transparent;
        color: white;
        border: 1px solid white;
        height: 100%;
        width: 100px;
        cursor: pointer;
      }
    }
  }



  .forecast {
    background-color: rgb(135, 206, 250);
    width: 100%;
    display: flex;
    app-forecast-weather {
      width: 20%;
      padding: 5px 0px;
      cursor: pointer;
    }
  }
  
  .hourly {
    display: flex;
    overflow-x: auto;
    .params {
     
      padding-right: calc(2px + 2 * (100vw/1000));
      background-color: white;
      position: sticky;
      left: 0;
    }
    p {
      font-size: calc(12px + 3 * (100vw/1000));
      margin: 10px auto;
      color: gray;
    }
    app-hourly-weather {
      width: 105px;
      text-align: center;
    }
  }